In [1]:
import pickle
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [2]:
with open("data.pkl", "rb") as f:
    train_data = pickle.load(f)
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Customer Full Name
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class,CallyHolloway
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class,IreneLuna
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class,GillianMaldonado
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class,TanaTate
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 11:24,Standard Class,OrliHendricks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class,MariaPeterson
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class,RonaldClark
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class,JohnSmith
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class,MarySmith
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class,AndreaOrtega

In [3]:
train_data["fraud"] = np.where(train_data["Order Status"] == "SUSPECTED_FRAUD", 1, 0)
train_data["fraud"]

0         0
1         0
2         0
3         0
4         0
         ..
180514    0
180515    0
180516    0
180517    0
180518    0
Name: fraud, Length: 180519, dtype: int32

In [4]:
train_data["fraud"].value_counts()

0    176457
1      4062
Name: fraud, dtype: int64

In [5]:
train_data["Delivery Status"].value_counts()

Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: Delivery Status, dtype: int64

In [6]:
train_data["late_delivery"] = np.where(train_data["Delivery Status"] == "Late delivery", 1, 0)

In [7]:
train_data["late_delivery"].value_counts()

1    98977
0    81542
Name: late_delivery, dtype: int64

In [8]:
train_data.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode',
       'Customer Full Name', 'fraud', 'late_delivery'],
      dtype='object')

In [9]:
for col in train_data.columns:
    if len(train_data[col].value_counts()) < 2:
        print(col)

Customer Email
Customer Password
Product Description
Product Status

In [10]:
train_data["Customer Email"].value_counts()

XXXXXXXXX    180519
Name: Customer Email, dtype: int64

In [11]:
train_data["Customer Password"].value_counts()

XXXXXXXXX    180519
Name: Customer Password, dtype: int64

In [12]:
train_data["Product Description"].value_counts()

Series([], Name: Product Description, dtype: int64)

In [13]:
train_data["Product Status"].value_counts()

0    180519
Name: Product Status, dtype: int64

In [14]:
train_data["Product Image"].value_counts()

http://images.acmesports.sports/Perfect+Fitness+Perfect+Rip+Deck                                 24515
http://images.acmesports.sports/Nike+Men%27s+CJ+Elite+2+TD+Football+Cleat                        22246
http://images.acmesports.sports/Nike+Men%27s+Dri-FIT+Victory+Golf+Polo                           21035
http://images.acmesports.sports/O%27Brien+Men%27s+Neoprene+Life+Vest                             19298
http://images.acmesports.sports/Field+%26+Stream+Sportsman+16+Gun+Fire+Safe                      17325
                                                                                                 ...
http://images.acmesports.sports/Stiga+Master+Series+ST3100+Competition+Indoor+Table+Tennis...       27
http://images.acmesports.sports/SOLE+E35+Elliptical                                                 15
http://images.acmesports.sports/Bushnell+Pro+X7+Jolt+Slope+Rangefinder                              11
http://images.acmesports.sports/Bowflex+SelectTech+1090+Dumbbells                                   10
http://images.acmesports.sports/SOLE+E25+Elliptical                                                 10
Name: Product Image, Length: 118, dtype: int64

In [15]:
train_data.drop(["Customer Email", "Customer Password", "Product Description", "Product Status", "Product Image", \
                "Customer Lname", "Customer Fname"], axis=1, inplace=True)
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Name,Product Price,shipping date (DateOrders),Shipping Mode,Customer Full Name,fraud,late_delivery
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,Smart watch,327.750000,2/3/2018 22:56,Standard Class,CallyHolloway,0,0
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,Smart watch,327.750000,1/18/2018 12:27,Standard Class,IreneLuna,0,1
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,Smart watch,327.750000,1/17/2018 12:06,Standard Class,GillianMaldonado,0,0
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,Smart watch,327.750000,1/16/2018 11:45,Standard Class,TanaTate,0,0
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,Smart watch,327.750000,1/15/2018 11:24,Standard Class,OrliHendricks,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,1/20/2016 3:40,Standard Class,MariaPeterson,0,0
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,1/19/2016 1:34,Second Class,RonaldClark,0,1
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,1/20/2016 21:00,Standard Class,JohnSmith,0,1
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,1/18/2016 20:18,Standard Class,MarySmith,0,0
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,1/19/2016 18:54,Standard Class,AndreaOrtega,0,0

In [16]:
train_data.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Id', 'Customer Segment', 'Customer State',
       'Customer Street', 'Customer Zipcode', 'Department Id',
       'Department Name', 'Latitude', 'Longitude', 'Market', 'Order City',
       'Order Country', 'Order Customer Id', 'order date (DateOrders)',
       'Order Id', 'Order Item Cardprod Id', 'Order Item Discount',
       'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price',
       'Order Item Profit Ratio', 'Order Item Quantity', 'Sales',
       'Order Item Total', 'Order Profit Per Order', 'Order Region',
       'Order State', 'Order Status', 'Order Zipcode', 'Product Card Id',
       'Product Category Id', 'Product Name', 'Product Price',
       'shipping date (DateOrders)', 'Shipping Mode', 'Customer Full Name',
       'fraud', 'late_delivery'],
      dtype='object')

In [17]:
# 根据热力图，去掉一些相关系数为1的特征
train_data.drop(["Order Customer Id", "Order Item Product Price", "Order Item Id", \
                "Sales per customer", "Order Profit Per Order", "Product Card Id", \
                "Product Category Id", "Product Price"], axis=1, inplace=True)
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,...,Order Region,Order State,Order Status,Order Zipcode,Product Name,shipping date (DateOrders),Shipping Mode,Customer Full Name,fraud,late_delivery
0,DEBIT,3,4,91.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,...,Southeast Asia,Java Occidental,COMPLETE,NaN,Smart watch,2/3/2018 22:56,Standard Class,CallyHolloway,0,0
1,TRANSFER,5,4,-249.089996,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,...,South Asia,Rajastán,PENDING,NaN,Smart watch,1/18/2018 12:27,Standard Class,IreneLuna,0,1
2,CASH,4,4,-247.779999,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,...,South Asia,Rajastán,CLOSED,NaN,Smart watch,1/17/2018 12:06,Standard Class,GillianMaldonado,0,0
3,DEBIT,3,4,22.860001,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,...,Oceania,Queensland,COMPLETE,NaN,Smart watch,1/16/2018 11:45,Standard Class,TanaTate,0,0
4,PAYMENT,2,4,134.210007,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,...,Oceania,Queensland,PENDING_PAYMENT,NaN,Smart watch,1/15/2018 11:24,Standard Class,OrliHendricks,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,Shipping on time,0,45,Fishing,Brooklyn,EE. UU.,...,Eastern Asia,Shanghái,CLOSED,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 3:40,Standard Class,MariaPeterson,0,0
180515,DEBIT,3,2,-613.770019,Late delivery,1,45,Fishing,Bakersfield,EE. UU.,...,Eastern Asia,Osaka,COMPLETE,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 1:34,Second Class,RonaldClark,0,1
180516,TRANSFER,5,4,141.110001,Late delivery,1,45,Fishing,Bristol,EE. UU.,...,Oceania,Australia del Sur,PENDING,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 21:00,Standard Class,JohnSmith,0,1
180517,PAYMENT,3,4,186.229996,Advance shipping,0,45,Fishing,Caguas,Puerto Rico,...,Oceania,Australia del Sur,PENDING_PAYMENT,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/18/2016 20:18,Standard Class,MarySmith,0,0
180518,PAYMENT,4,4,168.949997,Shipping on time,0,45,Fishing,Caguas,Puerto Rico,...,South Asia,Tamil Nadu,PENDING_PAYMENT,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 18:54,Standard Class,AndreaOrtega,0,0

In [18]:
# 显示所有列
pd.set_option("display.max_columns", None)
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Region,Order State,Order Status,Order Zipcode,Product Name,shipping date (DateOrders),Shipping Mode,Customer Full Name,fraud,late_delivery
0,DEBIT,3,4,91.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,1/31/2018 22:56,77202,1360,13.110000,0.04,0.29,1,327.750000,314.640015,Southeast Asia,Java Occidental,COMPLETE,NaN,Smart watch,2/3/2018 22:56,Standard Class,CallyHolloway,0,0
1,TRANSFER,5,4,-249.089996,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,1/13/2018 12:27,75939,1360,16.389999,0.05,-0.80,1,327.750000,311.359985,South Asia,Rajastán,PENDING,NaN,Smart watch,1/18/2018 12:27,Standard Class,IreneLuna,0,1
2,CASH,4,4,-247.779999,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,19491,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,1/13/2018 12:06,75938,1360,18.030001,0.06,-0.80,1,327.750000,309.720001,South Asia,Rajastán,CLOSED,NaN,Smart watch,1/17/2018 12:06,Standard Class,GillianMaldonado,0,0
3,DEBIT,3,4,22.860001,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,1/13/2018 11:45,75937,1360,22.940001,0.07,0.08,1,327.750000,304.809998,Oceania,Queensland,COMPLETE,NaN,Smart watch,1/16/2018 11:45,Standard Class,TanaTate,0,0
4,PAYMENT,2,4,134.210007,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,1/13/2018 11:24,75936,1360,29.500000,0.09,0.45,1,327.750000,298.250000,Oceania,Queensland,PENDING_PAYMENT,NaN,Smart watch,1/15/2018 11:24,Standard Class,OrliHendricks,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,Shipping on time,0,45,Fishing,Brooklyn,EE. UU.,1005,Home Office,NY,1322 Broad Glade,11207.0,7,Fan Shop,40.640930,-73.942711,Pacific Asia,Shanghái,China,1/16/2016 3:40,26043,1004,0.000000,0.00,0.10,1,399.980011,399.980011,Eastern Asia,Shanghái,CLOSED,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 3:40,Standard Class,MariaPeterson,0,0
180515,DEBIT,3,2,-613.770019,Late delivery,1,45,Fishing,Bakersfield,EE. UU.,9141,Corporate,CA,7330 Broad Apple Moor,93304.0,7,Fan Shop,35.362545,-119.018700,Pacific Asia,Hirakata,Japón,1/16/2016 1:34,26037,1004,4.000000,0.01,-1.55,1,399.980011,395.980011,Eastern Asia,Osaka,COMPLETE,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 1:34,Second Class,RonaldClark,0,1
180516,TRANSFER,5,4,141.110001,Late delivery,1,45,Fishing,Bristol,EE. UU.,291,Corporate,CT,97 Burning Landing,6010.0,7,Fan Shop,41.629959,-72.967155,Pacific Asia,Adelaide,Australia,1/15/2016 21:00,26024,1004,8.000000,0.02,0.36,1,399.980011,391.980011,Oceania,Australia del Sur,PENDING,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 21:00,Standard Class,JohnSmith,0,1
180517,PAYMENT,3,4,186.229996,Advance shipping,0,45,Fishing,Caguas,Puerto Rico,2813,Consumer,PR,2585 Silent Autumn Landing,725.0,7,Fan Shop,18.213350,-66.370575,Pacific Asia,Adelaide,Australia,1/15/2016 20:18,26022,1004,12.000000,0.03,0.48,1,399.980011,387.980011,Oceania,Australia del Sur,PENDING_PAYMENT,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/18/2016 20:18,Standard Class,MarySmith,0,0
180518,PAYMENT,4,4,168.949997,Shipping on time,0,45,Fishing,Caguas,Puerto Rico,7547,Consumer,PR,697 Little Meadow,725.0,7,Fan Shop,18.290380,-66.370613,Pacific Asia,Nagercoil,India,1/15/2016 18:54,26018,1004,16.000000,0.04,0.44,1,399.980011,383.980011,South Asia,Tamil Nadu,PENDING_PAYMENT,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 18:54,Standard Class,AndreaOrtega,0,0

In [19]:
train_data["Order Zipcode"].value_counts()

10035.0    648
10009.0    550
10024.0    541
94122.0    526
10011.0    463
          ...
59801.0      1
60477.0      1
31088.0      1
61832.0      1
30188.0      1
Name: Order Zipcode, Length: 609, dtype: int64

In [20]:
train_data.drop(["Order Zipcode", "shipping date (DateOrders)", "Latitude", "Longitude", "Customer Zipcode"], axis=1, inplace=True)

In [21]:
train_data.drop(["Order Status", "Delivery Status"], axis=1, inplace=True)

In [22]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Late_delivery_risk             180519 non-null  int64
 5   Category Id                    180519 non-null  int64
 6   Category Name                  180519 non-null  object
 7   Customer City                  180519 non-null  object
 8   Customer Country               180519 non-null  object
 9   Customer Id                    180519 non-null  int64
 10  Customer Segment               180519 non-null  object
 11  Customer State                 180519 non-null  object
 12  Customer Street                180519 non-null  object
 13  Department Id                  180519 non-null  int64
 14  Department Name                180519 non-null  object
 15  Market                         180519 non-null  object
 16  Order City                     180519 non-null  object
 17  Order Country                  180519 non-null  object
 18  order date (DateOrders)        180519 non-null  object
 19  Order Id                       180519 non-null  int64
 20  Order Item Cardprod Id         180519 non-null  int64
 21  Order Item Discount            180519 non-null  float64
 22  Order Item Discount Rate       180519 non-null  float64
 23  Order Item Profit Ratio        180519 non-null  float64
 24  Order Item Quantity            180519 non-null  int64
 25  Sales                          180519 non-null  float64
 26  Order Item Total               180519 non-null  float64
 27  Order Region                   180519 non-null  object
 28  Order State                    180519 non-null  object
 29  Product Name                   180519 non-null  object
 30  Shipping Mode                  180519 non-null  object
 31  Customer Full Name             180511 non-null  object
 32  fraud                          180519 non-null  int32
 33  late_delivery                  180519 non-null  int32
dtypes: float64(6), int32(2), int64(9), object(17)
memory usage: 45.4+ MB

In [23]:
categorical_clos = train_data.select_dtypes(include="object").columns
categorical_clos

Index(['Type', 'Category Name', 'Customer City', 'Customer Country',
       'Customer Segment', 'Customer State', 'Customer Street',
       'Department Name', 'Market', 'Order City', 'Order Country',
       'order date (DateOrders)', 'Order Region', 'Order State',
       'Product Name', 'Shipping Mode', 'Customer Full Name'],
      dtype='object')

In [24]:
train_data[categorical_clos]

,Type,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Customer Street,Department Name,Market,Order City,Order Country,order date (DateOrders),Order Region,Order State,Product Name,Shipping Mode,Customer Full Name
0,DEBIT,Sporting Goods,Caguas,Puerto Rico,Consumer,PR,5365 Noble Nectar Island,Fitness,Pacific Asia,Bekasi,Indonesia,1/31/2018 22:56,Southeast Asia,Java Occidental,Smart watch,Standard Class,CallyHolloway
1,TRANSFER,Sporting Goods,Caguas,Puerto Rico,Consumer,PR,2679 Rustic Loop,Fitness,Pacific Asia,Bikaner,India,1/13/2018 12:27,South Asia,Rajastán,Smart watch,Standard Class,IreneLuna
2,CASH,Sporting Goods,San Jose,EE. UU.,Consumer,CA,8510 Round Bear Gate,Fitness,Pacific Asia,Bikaner,India,1/13/2018 12:06,South Asia,Rajastán,Smart watch,Standard Class,GillianMaldonado
3,DEBIT,Sporting Goods,Los Angeles,EE. UU.,Home Office,CA,3200 Amber Bend,Fitness,Pacific Asia,Townsville,Australia,1/13/2018 11:45,Oceania,Queensland,Smart watch,Standard Class,TanaTate
4,PAYMENT,Sporting Goods,Caguas,Puerto Rico,Corporate,PR,8671 Iron Anchor Corners,Fitness,Pacific Asia,Townsville,Australia,1/13/2018 11:24,Oceania,Queensland,Smart watch,Standard Class,OrliHendricks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,Fishing,Brooklyn,EE. UU.,Home Office,NY,1322 Broad Glade,Fan Shop,Pacific Asia,Shanghái,China,1/16/2016 3:40,Eastern Asia,Shanghái,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,MariaPeterson
180515,DEBIT,Fishing,Bakersfield,EE. UU.,Corporate,CA,7330 Broad Apple Moor,Fan Shop,Pacific Asia,Hirakata,Japón,1/16/2016 1:34,Eastern Asia,Osaka,Field & Stream Sportsman 16 Gun Fire Safe,Second Class,RonaldClark
180516,TRANSFER,Fishing,Bristol,EE. UU.,Corporate,CT,97 Burning Landing,Fan Shop,Pacific Asia,Adelaide,Australia,1/15/2016 21:00,Oceania,Australia del Sur,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,JohnSmith
180517,PAYMENT,Fishing,Caguas,Puerto Rico,Consumer,PR,2585 Silent Autumn Landing,Fan Shop,Pacific Asia,Adelaide,Australia,1/15/2016 20:18,Oceania,Australia del Sur,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,MarySmith
180518,PAYMENT,Fishing,Caguas,Puerto Rico,Consumer,PR,697 Little Meadow,Fan Shop,Pacific Asia,Nagercoil,India,1/15/2016 18:54,South Asia,Tamil Nadu,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,AndreaOrtega

In [25]:
train_data["Customer Full Name"].isnull().sum()

8

In [26]:
train_data = train_data.dropna(subset=["Customer Full Name"])

In [27]:
#标签编码
le = LabelEncoder()
for cat in categorical_clos:
    train_data[cat] = le.fit_transform(train_data[cat])
train_data[categorical_clos]

C:\Users\LGB\Anaconda3\envs\lgb_02\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Type,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Customer Street,Department Name,Market,Order City,Order Country,order date (DateOrders),Order Region,Order State,Product Name,Shipping Mode,Customer Full Name
0,1,40,66,1,0,36,3683,4,3,331,70,5960,15,475,78,3,1875
1,3,40,66,1,0,36,1400,4,3,391,69,1147,13,841,78,3,5374
2,0,40,452,0,0,5,6217,4,3,391,69,1146,13,841,78,3,4426
3,1,40,285,0,2,5,1803,4,3,3226,8,1145,11,835,78,3,12922
4,2,40,66,1,1,36,6345,4,3,3226,8,1144,11,835,78,3,10632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,18,59,0,2,31,285,3,3,2922,31,1774,7,913,24,3,8421
180515,1,18,26,0,1,5,5261,3,3,1362,77,1758,7,770,24,2,11672
180516,3,18,55,0,1,7,7208,3,3,25,8,1526,11,88,24,3,6296
180517,2,18,66,1,0,36,1335,3,3,25,8,1524,11,88,24,3,9379
180518,2,18,66,1,0,36,5001,3,3,2203,69,1517,13,967,24,3,658

In [28]:
# 得到所有数值类型
numerical_columns = train_data.columns.tolist()
for x in categorical_clos.to_list():
    numerical_columns.remove(x)
numerical_columns

['Days for shipping (real)',
 'Days for shipment (scheduled)',
 'Benefit per order',
 'Late_delivery_risk',
 'Category Id',
 'Customer Id',
 'Department Id',
 'Order Id',
 'Order Item Cardprod Id',
 'Order Item Discount',
 'Order Item Discount Rate',
 'Order Item Profit Ratio',
 'Order Item Quantity',
 'Sales',
 'Order Item Total',
 'fraud',
 'late_delivery']

In [29]:
train_data["fraud"]

0         0
1         0
2         0
3         0
4         0
         ..
180514    0
180515    0
180516    0
180517    0
180518    0
Name: fraud, Length: 180511, dtype: int32

In [30]:
x_fraud = train_data.loc[:, train_data.columns!= "fraud"]
y_fraud = train_data["fraud"]

In [31]:
x_late = train_data.loc[:, train_data.columns!= "late_delivery"]
y_late = train_data["late_delivery"]

In [32]:
x_fraud

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Customer Street,Department Id,Department Name,Market,Order City,Order Country,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Region,Order State,Product Name,Shipping Mode,Customer Full Name,late_delivery
0,1,3,4,91.250000,0,73,40,66,1,20755,0,36,3683,2,4,3,331,70,5960,77202,1360,13.110000,0.04,0.29,1,327.750000,314.640015,15,475,78,3,1875,0
1,3,5,4,-249.089996,1,73,40,66,1,19492,0,36,1400,2,4,3,391,69,1147,75939,1360,16.389999,0.05,-0.80,1,327.750000,311.359985,13,841,78,3,5374,1
2,0,4,4,-247.779999,0,73,40,452,0,19491,0,5,6217,2,4,3,391,69,1146,75938,1360,18.030001,0.06,-0.80,1,327.750000,309.720001,13,841,78,3,4426,0
3,1,3,4,22.860001,0,73,40,285,0,19490,2,5,1803,2,4,3,3226,8,1145,75937,1360,22.940001,0.07,0.08,1,327.750000,304.809998,11,835,78,3,12922,0
4,2,2,4,134.210007,0,73,40,66,1,19489,1,36,6345,2,4,3,3226,8,1144,75936,1360,29.500000,0.09,0.45,1,327.750000,298.250000,11,835,78,3,10632,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,4,4,40.000000,0,45,18,59,0,1005,2,31,285,7,3,3,2922,31,1774,26043,1004,0.000000,0.00,0.10,1,399.980011,399.980011,7,913,24,3,8421,0
180515,1,3,2,-613.770019,1,45,18,26,0,9141,1,5,5261,7,3,3,1362,77,1758,26037,1004,4.000000,0.01,-1.55,1,399.980011,395.980011,7,770,24,2,11672,1
180516,3,5,4,141.110001,1,45,18,55,0,291,1,7,7208,7,3,3,25,8,1526,26024,1004,8.000000,0.02,0.36,1,399.980011,391.980011,11,88,24,3,6296,1
180517,2,3,4,186.229996,0,45,18,66,1,2813,0,36,1335,7,3,3,25,8,1524,26022,1004,12.000000,0.03,0.48,1,399.980011,387.980011,11,88,24,3,9379,0
180518,2,4,4,168.949997,0,45,18,66,1,7547,0,36,5001,7,3,3,2203,69,1517,26018,1004,16.000000,0.04,0.44,1,399.980011,383.980011,13,967,24,3,658,0

In [33]:
y_fraud

0         0
1         0
2         0
3         0
4         0
         ..
180514    0
180515    0
180516    0
180517    0
180518    0
Name: fraud, Length: 180511, dtype: int32

In [34]:
x_fraud_train, x_fraud_test, y_fraud_train, y_fraud_test = train_test_split(x_fraud, y_fraud, test_size=0.2)

In [35]:
x_late_train, x_late_test, y_late_train, y_late_test = train_test_split(x_late, y_late, test_size=0.2)

In [36]:
x_fraud_train.isnull().sum()

Type                             0
Days for shipping (real)         0
Days for shipment (scheduled)    0
Benefit per order                0
Late_delivery_risk               0
Category Id                      0
Category Name                    0
Customer City                    0
Customer Country                 0
Customer Id                      0
Customer Segment                 0
Customer State                   0
Customer Street                  0
Department Id                    0
Department Name                  0
Market                           0
Order City                       0
Order Country                    0
order date (DateOrders)          0
Order Id                         0
Order Item Cardprod Id           0
Order Item Discount              0
Order Item Discount Rate         0
Order Item Profit Ratio          0
Order Item Quantity              0
Sales                            0
Order Item Total                 0
Order Region                     0
Order State                      0
Product Name                     0
Shipping Mode                    0
Customer Full Name               0
late_delivery                    0
dtype: int64

In [37]:
sc = StandardScaler()
x_fraud_train = sc.fit_transform(x_fraud_train)
x_fraud_train

array([[ 0.32524637,  1.5413505 ,  0.77773846, ...,  0.69560278,
        -0.13377383,  0.90689521],
       [ 0.32524637, -0.30625371, -0.67693441, ..., -0.21190028,
         0.48088743,  0.90689521],
       [ 0.32524637,  0.92548243, -0.67693441, ..., -0.21190028,
        -0.35047388,  0.90689521],
       ...,
       [ 1.33008521,  0.92548243,  0.77773846, ...,  0.69560278,
         0.40071422,  0.90689521],
       [-0.67959248, -0.92212179, -0.67693441, ..., -0.21190028,
         0.50586894, -1.10266323],
       [ 1.33008521, -0.92212179,  0.77773846, ...,  0.69560278,
        -1.6149448 , -1.10266323]])

In [38]:
x_fraud_test = sc.transform(x_fraud_test)
x_fraud_test

array([[-1.68443132, -0.92212179, -1.40427085, ..., -2.02690639,
        -1.98937692,  0.90689521],
       [ 1.33008521, -0.30625371, -0.67693441, ..., -0.21190028,
         0.50441652,  0.90689521],
       [-0.67959248,  0.30961436,  0.77773846, ...,  0.69560278,
        -2.01784422, -1.10266323],
       ...,
       [-0.67959248, -0.92212179,  0.77773846, ...,  0.69560278,
         0.48611612, -1.10266323],
       [-0.67959248,  0.30961436,  0.77773846, ...,  0.69560278,
         0.50441652, -1.10266323],
       [-0.67959248,  0.30961436, -0.67693441, ..., -0.21190028,
         0.30049771,  0.90689521]])

In [39]:
x_late_train = sc.fit_transform(x_late_train)
x_late_test = sc.transform(x_late_test)

In [40]:
from sklearn.metrics import recall_score, roc_auc_score, confusion_matrix, f1_score
from sklearn.linear_model import LogisticRegression

In [41]:
def model_stats(model, x_train, x_test, y_train, y_test, name="Fraud"):
    modle = model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_pred, y_test)
    recall = recall_score(y_pred, y_test)
    auc = roc_auc_score(y_pred, y_test)
    f1 = f1_score(y_pred, y_test)
    confusion = confusion_matrix(y_pred, y_test)
    print("MOdel Uset: ", model)
    print("{} Accuracy: {}%".format(name, accuracy*100))
    print("{} Recall: {}%".format(name, recall*100))
    print("{} AUC: {}%".format(name, auc*100))
    print("{} F1 Score {}%".format(name, f1*100))
    print("{} Confusion Matrix: \n {}%".format(name, confusion))
    return accuracy, recall,f1

In [42]:
model_fraud = LogisticRegression()
model_late = LogisticRegression()

In [43]:
model_stats(model_fraud, x_fraud_train, x_fraud_test, y_fraud_train, y_fraud_test, "Fraud")

MOdel Uset:  LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
Fraud Accuracy: 97.89768163310528%
Fraud Recall: 57.611940298507456%
Fraud AUC: 77.9434673534586%
Fraud F1 Score 33.711790393013096%
Fraud Confusion Matrix:
 [[35151   617]
 [  142   193]]%

(0.9789768163310528, 0.5761194029850746, 0.33711790393013097)

In [44]:
model_fraud.coef_

array([[ 5.66241443e+00,  1.16698370e+00, -2.14795074e-01,
         5.65711318e-03, -2.39667185e+00, -4.17432740e-01,
        -1.65994921e-02,  7.97764902e-02,  7.53121047e-02,
         7.81028764e-02, -2.92909885e-02,  6.17262049e-02,
        -3.71647120e-02,  1.31736187e-02,  1.08610780e-02,
         6.70480967e-04, -3.71588064e-02, -1.31672787e-02,
        -2.93930999e-02, -2.24786397e-02,  3.73943165e-01,
        -4.94841147e-03,  2.50790481e-02, -2.53222760e-02,
        -2.06567316e-02, -2.38779065e-03, -1.70393693e-03,
         8.27872271e-02, -6.16477322e-04, -6.23863996e-04,
        -9.96694603e-01, -2.75706206e-02, -2.39667185e+00]])

In [45]:
model_stats(model_late, x_fraud_train, x_fraud_test, y_fraud_train, y_fraud_test, "late")

MOdel Uset:  LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
late Accuracy: 97.89768163310528%
late Recall: 57.611940298507456%
late AUC: 77.9434673534586%
late F1 Score 33.711790393013096%
late Confusion Matrix:
 [[35151   617]
 [  142   193]]%

(0.9789768163310528, 0.5761194029850746, 0.33711790393013097)

In [46]:
model_late.coef_

array([[ 5.66241443e+00,  1.16698370e+00, -2.14795074e-01,
         5.65711318e-03, -2.39667185e+00, -4.17432740e-01,
        -1.65994921e-02,  7.97764902e-02,  7.53121047e-02,
         7.81028764e-02, -2.92909885e-02,  6.17262049e-02,
        -3.71647120e-02,  1.31736187e-02,  1.08610780e-02,
         6.70480967e-04, -3.71588064e-02, -1.31672787e-02,
        -2.93930999e-02, -2.24786397e-02,  3.73943165e-01,
        -4.94841147e-03,  2.50790481e-02, -2.53222760e-02,
        -2.06567316e-02, -2.38779065e-03, -1.70393693e-03,
         8.27872271e-02, -6.16477322e-04, -6.23863996e-04,
        -9.96694603e-01, -2.75706206e-02, -2.39667185e+00]])